<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Friends</title>
<link rel="stylesheet" href="static/friendsstyle.css">
<body>


    <div class = "Desktop1">
        <div class="Block2">
          <img class="img1" src="static/text.png">
          <img class="img2" src="static/searchtext.png">
        </div>

        <div class="friends">
          <img src="static/myfriends.png">
        </div>
  
      </div>      

      

      <table class="table">
        <tbody>
        {% for friend in friends %}
              <th class="item">
                <td>{{friend.name}} <br>{{friend.location}}<br><img src="media/{{ friend.upload }}" height="210" width="200"></td>
              </th>
        {% endfor %}
        </tbody>
    </table> 

    <div class="enter">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
        <button class="button">Submit</button>
        </form>
    </div> 

</body>
</html>