<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Friends</title>
<style>
</style>
<script src=""></script>
<body>
    <div>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
        <button class="button">Submit</button>
        </form>
    </div> 
    <div>
        <br>
        <br>
        {% for friend in friends %}
            <div>{{friend.name}}</div>
            <div>{{friend.location}}</div>
            <img src="media/{{ friend.upload }}">
        {% endfor %}
    </div> 
</body>
</html>