<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Homepage</title>
<script src='https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.css' rel='stylesheet' />
<link rel="stylesheet" href="static/indexstyle.css">
<body>
  <div class="Desktop1">
    <div class="Rectangle1"></div>
    <img src="static/text.png" class="text">
    <img src = "static/searchtext.png" class = "searchLogo">
    <a href = "http://127.0.0.1:8000/friends"><button class="button" >View my friends</button></a>
    <div class="Line2">Match me with</div>
  </div>
    <div class="Group1">
      <img src="/static/searchicon.png" class="searchIcon">
      <div class = "form">
        <form method = "post">
            {% csrf_token %}
            <input type="text" class="field" name="name">
            <input type="submit" class="sub" value="Submit">
        </form>
      </div>
    </div>
    <div class="response">
      <h1 style="color: #FF95A5;font-family: SansitaOne;">Response:</h1>
      <img src="media/{{context.friend.upload}}" height="210" width="200">
      <br>
      {{context.text}}
      <br>
      <br>
      {% for document in context.documents %}
          <div class = "links">{{document.title}} : {{document.url}}</div>
      {% endfor %}
    </div> 
    <!-- <div id='map' width="100%" style='height:400px; bottom:1px;' class="map"></div> -->
    <script>
      mapboxgl.accessToken = '{{context.mapbox_access_token}}'
      const map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v12'
      })
      const loc = '{{context.friendloc}}'
      new mapboxgl.Marker().setLngLat([-118.285530,34.0224]).addTo(map)
      new mapboxgl.Marker().setLngLat(loc).addTo(map)
    </script>
  </div>
</body>
</html>