<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Homepage</title>
<script src='https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.css' rel='stylesheet' />
<link rel="stylesheet" href="static/indexstyle.css">
<body>
  <div class="Desktop1">
    <div class="Rectangle1"></div>
    <div class="Line1">Meet Me in <br/>the Middle </div>
    <img src="/static/SearchLogo.png" class="searchLogo">
    <div class="Line2">Match me with</div>

    </div>
    <div class="Group1">
      <img src="/static/searchicon.png" class="searchIcon">
      <div class = "form">
        <form method = "post">
            {% csrf_token %}
            <input type="text" class="field" name="name">
            <input type="submit" class="sub" value="Submit">
        </form>
      </div>
    </div>
    <div id='map' width="100%" style='height:400px'></div>
    <script>
      mapboxgl.accessToken = '{{context.mapbox_access_token}}';
      console.log(mapboxgl.accessToken)
      const map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v12'
      })
      new mapboxgl.Marker().setLngLat([-118.285530,34.0224]).addTo(map);
      new mapboxgl.Marker().setLngLat([0,0]).addTo(map);
    </script>
    <div>
      {{context.text}}
      <br>
      <br>
      {% for document in context.documents %}
          <div>{{document.title}}</div>
          <div>{{document.url}}</div>
      {% endfor %}
    </div> 
  </div>
</body>
</html>