@import url('https://fonts.googleapis.com/css2?family=Sansita:ital,wght@1,800&display=swap');


body {
    background: linear-gradient(#F58CC4, #FFF2F2);
}

.Desktop1{
    width: 100%;
    height: 100%;
    position: center;
}

.Block2 {
    position: relative;
    top: 50px;
    left: 35%;
}

.img1 {
    position: relative;
    top: 0;
    left: 0;
}

.img2 {
    position: absolute;
    top: -50px;
    left: 270px;
}

.friends {
    transform: scale(0.5);
    position: relative;
    top: 50px;
    left: 8%;
}

.item {
    background-color: #FFD1F5;
}

td {
    padding: 15px;
    display:block;
}

table {
    border-spacing: 30px;
    overflow-x: auto;
    display: block;
    position: relative;
    left: 10%;
    font-family:'Sansita', sans-serif;
    color: #D15F88;
    font-size: 30px;
}

.enter {
    margin: auto;
    width: 20%;
    border: 3px solid #F58CC4;
    padding: 20px;
    font-family:'Sansita', sans-serif;
    color: #D15F88;
    font-size: 30px;
}

.button {
    background-color: #D15F88; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family:'Sansita', sans-serif;
    cursor: pointer;
  }

  input[type=text] {
    background-color: #D15F88;
    color: white;
  }